$primary_color: #FFF;

html {
  background-color: #CBD3F8;
}

body {
  background-color: $primary_color;
  margin-left: 200px;
  width: calc(95% - 200px);
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.body_text {
  white-space: pre-line;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e5eaff;
    overflow-x: hidden;
    padding-top: 20px;
    -moz-box-shadow:    2px 0 5px 0 #afbacc;
    -webkit-box-shadow: 2px 0 5px 0 #afbacc;
    box-shadow:         2px 0 5px 0 #afbacc;
}

.sidelink {
  text-align: center;
  color: white;
}

.sidebar_container {
  width: 75%;
  padding-left: 12%;
}

.sidebar_content {
  text-align: center;
  padding-top: 50px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.wrap {
  word-wrap: break-word;
}

#container {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}
